__pycache__
*/__pycache__
*.pyc
*.pyo
.DS_Store
venv/
env/
.env
.venv
*.py[cod]
*$py.class
*.so
.Python
asserts/
build/
develop-eggs/
dist/
docs/
downloads/
eggs/
tests/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

*/profiles
*/ray_worker
.mypy_cache/

pytest.ini
*.png
